name: CICD

on:
  workflow_call:
    secrets:
      GH_TOKEN:
        required: true
      NUGET_API_KEY:
        required: true

jobs:
  create-release:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5

    - name: Validate Yamls
      shell: pwsh
      run: |
        $YamlFiles = Get-ChildItem -Path crds -Filter *.yaml -File
  
        if ($YamlFiles.Count -eq 0) {
          throw "No .yaml file found in crd directory"
        }

    - name: Semantic Release
      uses: cycjimmy/semantic-release-action@v5
      id: semantic
      with:
        dry_run: true
        extra_plugins: |
          conventional-changelog-conventionalcommits
      env:
        GH_TOKEN: ${{ secrets.GH_TOKEN }}

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v5
      with:
        global-json-file: global.json

    - name: .NET Build
      run: dotnet build -c Release

    - name: .NET Pack
      run: dotnet pack -c Release -p:Version=${{ (steps.semantic.outputs.new_release_published && steps.semantic.outputs.new_release_version) || '0.0.1-alpha.1' }}

    - name: Semantic Release
      if: steps.semantic.outputs.new_release_published == 'true'
      id: semantic_final
      uses: cycjimmy/semantic-release-action@v5
      with:
        extra_plugins: |
          conventional-changelog-conventionalcommits
      env:
        GH_TOKEN: ${{ secrets.GH_TOKEN }}

    - name: .NET NuGet Push
      if: steps.semantic_final.outputs.new_release_published == 'true'
      run: dotnet nuget push **/*.nupkg -s https://api.nuget.org/v3/index.json -k ${{ secrets.NUGET_API_KEY }}

    - uses: actions/upload-artifact@v5
      with:
        name: NuGet Package
        path: '**/*.nupkg'



